.DiceCounter {
  width: 64px;
  display: grid;
}
.DiceCounter-PlusButton.DiceCounter-PlusButton,
.DiceCounter-MinusButton.DiceCounter-MinusButton {
  border-radius: 16px;
}

.DiceCounter-PlusButton.DiceCounter-PlusButton {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.DiceCounter-MinusButton.DiceCounter-MinusButton {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.DiceCounter-DiceViewBox {
  position: relative;
}

.DiceCounter-DiceView {
  width: 64px;
  height: 64px;
}

.DiceCounter-Counter {
  position: absolute;
  border: 1px solid currentColor;
  bottom: 0;
  right: 0;
  background-color: var(--bg-color);
  padding: 0 1ex;
  font-size: 16px;
  border-radius: 9999px;
}
