.DiceView {
  --DiceView-TilesMapWidth: 1050;
  --DiceView-TilesMapHeight: 1000;
  --DiceView-TileSize: 50;

  display: grid;
  align-items: center;
  justify-content: center;
}

.DiceView-ImageWrapper {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
}

.DiceView-Image {
  width: calc(100% * var(--DiceView-TilesMapWidth) / var(--DiceView-TileSize));
  height: calc(
    100% * var(--DiceView-TilesMapHeight) / var(--DiceView-TileSize)
  );
  position: relative;
  top: calc(-100% * (var(--DiceView-D) - 1));
  left: calc(-100% * var(--DiceView-Value));
}

@media (prefers-color-scheme: dark) {
  .DiceView-Image {
    filter: invert();
  }
}

@keyframes DiceView-Roll {
  from {
    transform: translateY(-25%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes DiceView-Appear {
  from {
    transform: translateY(33%);
    opacity: 0;
  }
}

.DiceView:not(.DiceView_noAnimation)
  .DiceView-ImageWrapper:not(.DiceView-ImageWrapper_animated) {
  animation: 0.3s DiceView-Appear ease-out;
}

.DiceView-ImageWrapper_animated:not(.DiceView_noAnimation *) {
  animation: 0.3s DiceView-Roll ease-out;
  animation-delay: calc(50ms * var(--DiceView-Position));
  animation-fill-mode: both;
}
