.App-Dices {
  display: flex;
  grid-auto-flow: column;
  flex-wrap: wrap;
  min-height: 120px;
}

.App-Dice {
  width: 60px;
  flex-shrink: 0;
}

.App-Counters {
  display: grid;
  grid-auto-flow: column;
  width: max-content;
  gap: 8px;
}
