:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color: black;
  --bg-color: white;
  color: var(--color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  max-width: 800px;
  height: 100dvh;
  max-height: 800px;
  margin: 0 auto;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --bg-color: black;
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}
