.DiceField {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  --gap: 12px;
  gap: var(--gap);
  padding: var(--gap);
}

.DiceField-FieldWrapper {
  position: relative;
  min-height: 120px;
  height: 100%;
  box-sizing: border-box;
}

.DiceField-Field {
  display: flex;
  flex-direction: column;
  border: 8px dotted currentColor;
  border-radius: 32px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.DiceField-AboutLink {
  position: absolute;
  padding: 0 0.5ex;
  transform: rotate(-90deg) translateX(100%);
  transform-origin: bottom right;
  color: var(--color);
  bottom: 40px;
  right: 0;
  text-box-edge: ex alphabetic;
  text-box-trim: trim-both;
}

@supports not (text-box-trim: trim-both) {
  .DiceField-AboutLink {
    right: -6px;
  }
}

.DiceField-AboutLink::before {
  content: "";
  display: block;
  position: absolute;
  inset: -0.5em 0;
  background-color: var(--bg-color);
  z-index: -1;
}

.DiceField-Dices {
  margin: auto 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DiceField-Dice {
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  user-select: none;

  view-transition-class: dice;
}

/*
.DiceField-Dices:not(:has(> .DiceField-Dice:nth-child(3))) .DiceField-Dice {
  width: 144px;
  height: 144px;
}
*/

.DiceField-Counters {
  display: grid;
  grid-auto-flow: column;
  width: max-content;
  gap: var(--gap);
  flex-shrink: 0;
  overflow: auto;
  max-width: calc(100% + var(--gap) * 2);
  margin-left: calc(var(--gap) * -1);
  margin-right: calc(var(--gap) * -1);
  box-sizing: border-box;
  padding: 0 var(--gap);
}

.DiceField-RollButton {
  flex-shrink: 0;
}

.DiceField-NoDicesText {
  display: block;
  padding: 0 4ex;
  text-box-edge: ex alphabetic;
  text-box-trim: trim-both;
  text-align: center;
  text-wrap-style: balance;
}

@keyframes DiceView-Disappear {
  to {
    transform: translateY(33%);
    opacity: 0;
  }
}

::view-transition-old(.dice):only-child {
  animation: 0.3s DiceView-Disappear ease-out forwards;
}

::view-transition-group(.dice) {
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
}
