.DiceField {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.DiceField-Field {
  display: flex;
  grid-auto-flow: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 120px;
  border: 2px dashed currentColor;
  border-radius: 16px;
  height: 100%;
  overflow: auto;
}

.DiceField-Dice {
  width: 96px;
  height: 96px;
  flex-shrink: 0;
}

.DiceField-Field_count_0 .DiceField-Dice,
.DiceField-Field_count_1 .DiceField-Dice,
.DiceField-Field_count_2 .DiceField-Dice {
  width: 156px;
  height: 156px;
}

.DiceField-Counters {
  display: grid;
  grid-auto-flow: column;
  width: max-content;
  gap: 8px;
  flex-shrink: 0;
  overflow: auto;
  max-width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
  box-sizing: border-box;
  padding: 0 8px;
}

.DiceField-RollButton {
  flex-shrink: 0;
}
