.DiceField {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  --gap: 12px;
  gap: var(--gap);
  padding: var(--gap);
}

.DiceField-FieldWrapper {
  position: relative;
  min-height: 120px;
  height: 100%;
  box-sizing: border-box;
}

.DiceField-Field {
  display: flex;
  flex-direction: column;
  border: 8px dotted currentColor;
  border-radius: 32px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.DiceField-AboutLink {
  position: absolute;
  padding: 0 0.5ex;
  transform: rotate(-90deg) translateX(100%);
  transform-origin: bottom right;
  color: var(--color);
  bottom: 40px;
  right: 0;
  text-box-edge: ex alphabetic;
  text-box-trim: trim-both;
}

@supports not (text-box-trim: trim-both) {
  .DiceField-AboutLink {
    right: -6px;
  }
}

.DiceField-AboutLink::before {
  content: "";
  display: block;
  position: absolute;
  inset: -0.25em 0;
  background-color: var(--bg-color);
  z-index: -1;
}

.DiceField-Dices {
  margin: auto 0;
  width: 100%;
  position: relative;
  --dice-width: 96px;
  height: calc(
    max(1, round(up, var(--dices-count) / var(--dices-in-a-row), 1)) *
      var(--dice-width)
  );
  transition: height 0.3s ease-out;
}

/*.DiceField-Dices:not(:has(> .DiceField-Dice:nth-child(3))) {
  --dice-width: 144px;
}*/

.DiceField-Dice {
  --dices-count-1: var(--dices-count);
  position: absolute;
  top: 0;
  left: var(--left-indent);
  width: var(--dice-width);
  height: var(--dice-width);
  user-select: none;

  --row: calc(round(down, var(--DiceView-Position) / var(--dices-in-a-row), 1));
  --col: calc(var(--DiceView-Position) - var(--row) * var(--dices-in-a-row));

  transform: translate(
    calc(
      (
          var(--col) +
            (
              round(up, var(--dices-count-1), var(--dices-in-a-row)) -
                var(--dices-count-1)
            ) /
            2 *
            max(
              0,
              calc(
                round(
                    down,
                    calc(var(--DiceView-Position) / var(--dices-in-a-row) + 1),
                    1
                  ) -
                  round(
                    down,
                    calc(var(--dices-count-1) / var(--dices-in-a-row) + 1),
                    1
                  ) +
                  1
              )
            )
        ) *
        var(--dice-width)
    ),
    calc(var(--row) * var(--dice-width))
  );
  transition: transform 0.3s ease-out;
}

@keyframes DiceView-Disappear {
  to {
    transform: translateY(33%);
    opacity: 0;
  }
}
.DiceField-Dice_removed {
  --dices-count-1: calc(var(--dices-count) + 1);
}

.DiceField-Dice_removed .DiceView-ImageWrapper {
  animation: 0.3s DiceView-Disappear ease-out forwards;
}

.DiceField-Counters {
  display: grid;
  grid-auto-flow: column;
  width: max-content;
  gap: var(--gap);
  flex-shrink: 0;
  overflow: auto;
  max-width: calc(100% + var(--gap) * 2);
  margin-left: calc(var(--gap) * -1);
  margin-right: calc(var(--gap) * -1);
  box-sizing: border-box;
  padding: 0 var(--gap);
}

.DiceField-RollButton {
  flex-shrink: 0;
}

.DiceField-NoDicesText {
  display: block;
  padding: 0 4ex;
  text-box-edge: ex alphabetic;
  text-box-trim: trim-both;
  text-align: center;
  text-wrap-style: balance;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

@keyframes DiceView-Disappear {
  to {
    transform: translateY(33%);
    opacity: 0;
  }
}
